/**last modified 8/12/2020 **/
@media all {
    /** UNM Brand fonts **/
    body { 
        font-family: "Gotham A","Gotham B","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 15px;
        line-height: 1.5;
        color: #222;
        background-color: #fff
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "Vitesse A","Vitesse B",Cambria,Rockwell,"Times New Roman",serifn !important;
        font-weight: 700;
        line-height: 1.1;
        color: inherit;
    }
}
@media screen {

    .applicant-help-btn {
        color: #181b0e !important;
        background: #a2ac7e !important;
        border-color: #858f39 !important;
        text-decoration: none;
    }
    .employee-login-btn {
        background-color: #697568;
        border-color: #9d9d9d;
        text-decoration: none;
        color: #f3f4f6;
    }
    .img-circle {
        border-radius: 100px;
        border: 2px solid #fff;
        float: left;
        width: 100px;
    }
    .center {
     text-align: center
    }
    .p-image-overlay-wrapper {
        max-height: 190px !important;
    }
    .p-image-banner {
        max-height: 300px !important;
    }
    ul.list-inline-tms > li > a {
        color: #fff;
        text-decoration: none;
    }

    #fine-print {
        background: #fff;
        color: #555;
        border-top: 1px solid #ccc !important;
        visibility: hidden;
    }
    .stucco {
        background-image: url(//webcore.unm.edu/v2/images/stucco.png);
    }
    .bg_cherry {
        background-color: #c10037;
        color: #fff;
    }

    .bg_mesa {
        background-color: rgba(214, 164, 97, .34);
        color: #868e96;
    }
    .img-label {
        padding-top: 25px;
        color: white;
    }
    .img-div-deep-dusk {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        border-radius: 3px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #8a387c 21%);
    }

    .img-div-green-chile {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #a8aa19 21%);
    }
    .img-div-high-noon {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #ffc600 21%);
    }
    .img-div-turquiose {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #007a86 21%);
    }

    .img-div-mesa {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #d6a461 21%);
    }

    .img-div-sandia-sunset {
        width: 100%;
        border-radius: 3px;
        height: 100px;
        margin: 10px;
        background: linear-gradient(135deg, #e4e7ec 21%,#0000 21%), linear-gradient(45deg, #b5bec5 21%, #ed8b00 21%);
    }

    .p-htmlviewer table td {
        line-height: 1.5rem;
    }
    .p-view-jobdetails {
        background: #fff
    }

    .location-search {
        display: none;
    }

    /**Hides language selection dropdown **/
    #cs-root > div > div.p-view-pagetemplate > div.p-view-pagemenu > span > div > div > div > div > div > div > div > div.p-gridcol.col-12-device-none.col-auto-device-sm > div
    {
        display: none;
    }

    table {
        font-size: 14px !important;
        /* line-height: inherit !important; */
        background: #fff;
    }

    th {
        font-family: "Vitesse A","Vitesse B",Cambria,Rockwell,"Times New Roman",serifn !important;
        font-size: 15px;
        color: #222;
        line-height: 1.25;
    }
    .p-htmlviewer table tbody tr:nth-child(2n) {
        background: #fff;
    }
    .p-htmlviewer table tbody tr:nth-child(odd) {
        background: #f3f4f6;
    }

    .p-htmlviewer table th {
        text-transform: none !important;
    }

    #cs-root > div > div.p-view-pagetemplate > div.p-panel.p-bg-grey80 > div > div > div > div > div:nth-child(2) > div.p-panel.p-p-t-xs > div > div > div > div > div.p-panel.p-p-b-xl > div > div > h2
    {
        border-bottom: 1px solid #ccc;
    }
    .p-bg-a-grey40:active, .p-bg-f-grey40:focus, .p-bg-full-hv-grey40, .p-bg-grey40 {
        background-color: #63666a !important;
    }
    .p-bg-a-grey70:active, .p-bg-f-grey70:focus, .p-bg-full-hv-grey70, .p-bg-grey70 {
        background-color: #f3f4f6 !important;
    }

    .reqTitleBackground {
        /* background: rgba(0,0,0,0.1); */
        padding: 1rem;
    }

    .unm-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        overflow: auto;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }

    .unm-modal-window {
        position: relative;
        background-color: #FFFFFF;
        width: 50%;
        margin: 10% auto;
        padding: 1.5rem;
    }

    .unm-modal-window.small {
        width: 30%;
    }

    .unm-modal-window.large {
        width: 75%;
    }

    #search-for-a-job {
        color: #6a7587;
        background: rgba(255, 255, 255, 0.66) !important;
        font-size: 32px;
        padding: 0 0 0.5rem 0;
    }

    .open {
        display: block;
    }
    .p-htmlviewer p {
        padding: 0.25rem !important;
        line-height: 1.5;
    }
    .p-bg-black-overlay {
        background-color: rgba(0, 0,0,0) !important;
        max-height: 300px !important;
    }

    #why-work-at-unm {
        padding: 1rem 0 1rem 0;
    }
    .list-inline-tms {
        padding: 1rem 0 1rem 0;
        margin: 1rem 0 1rem 0;
    }
    ul.list-inline-tms {
        padding: 0 !important;
    }
    .list-inline-tms li {
        display: inline-block;
        padding-right: 0.5rem
    }
    .mediaWidgets{
        padding-top: 1rem;
    }
    .social-csod {
        color: #fff;
    }

    #footer {
        background: #ba0c2f url('/clientimg/unm/logo/mesamountainred_7b1428cd-b3b4-4d3d-b70c-f798b49e1cc1.png') bottom right no-repeat;
        color: #fff;
        padding: 30px 40px;
        margin-top: 0;
        font-size: .9em;
    }

    ul.list-group {
        list-style-type: none;
        padding-left: 0 !important;
        line-height: 2.67rem;
        font-weight: bold;
    }

    .unm-modal-body {
        padding-top: 1rem;
    }

    h4#unm-apply-now-modal {
        border-bottom: 1px solid #555;
    }

    button#unm-modal-continue-btn {
        text-align: center;
        float: right;
    }

    .hide {
        visibility: hidden;
    }

    .show {
        visibility: visible !important;
    }

    .display-none {
        display: none;
    }

    .display-block {
        display: block;
    }
    #job-title {
        border-bottom: 1px solid #ccc;
        margin: 0;
    }

    h2 + ul {
        padding-top: 0 !important;
    }

    .p-htmlviewer table td {
        border-bottom: none !important;
    }

    th {
        width: 25%;
        border-right: 1px solid #ccc;
    }

    table + div {padding-top: 2rem !important;}

    /* Hide Country Filter */
    #cs-root > div > div.p-view-pagetemplate > div.p-panel.p-bg-grey80 > div > div > div > div > div > div > div.p-content-wrapper > div.p-panel.p-p-v-lg > div > div > div.p-gridcol.col-12-device-none.col-3-device-sm > div > div > div > div > div.p-panel.p-bw-t-xs.p-bc-t-grey70.p-bs-t-solid > div > div > div:nth-child(1) {
        display: none;
    }
    /* Hide State Filter */
    #cs-root > div > div.p-view-pagetemplate > div.p-panel.p-bg-grey80 > div > div > div > div > div > div > div.p-content-wrapper > div.p-panel.p-p-v-lg > div > div > div.p-gridcol.col-12-device-none.col-3-device-sm > div > div > div > div > div.p-panel.p-bw-t-xs.p-bc-t-grey70.p-bs-t-solid > div > div > div:nth-child(2) {
        display: none;
    }
    /* Hide City Filter */
    #cs-root > div > div.p-view-pagetemplate > div.p-panel.p-bg-grey80 > div > div > div > div > div > div > div.p-content-wrapper > div.p-panel.p-p-v-lg > div > div > div.p-gridcol.col-12-device-none.col-3-device-sm > div > div > div > div > div.p-panel.p-bw-t-xs.p-bc-t-grey70.p-bs-t-solid > div > div > div:nth-child(3) {
        display: none;
    }

}

@media print {
    body {
        font-size: 13px !important;
    }
    body * {
        visibility: hidden
    }
    .printable, .printable > *, .printable * {
        visibility: visible;
    }

    .p-view-pageheader * {
        visibility: visible !important;
    }
    .p-view-pageheader {
        height: 80px
    }

    .p-content-wrapper {
        padding: 0 1.29rem;
    }

    .p-p-sm {
        position: absolute;
        top: .25in;
        left: 0.25in;
        margin: 0;
        width: 8in;
        height: .57in;
    }
        th {
        font-family: "Vitesse A","Vitesse B",Cambria,Rockwell,"Times New Roman",serifn !important;
        font-size: 15px;
        color: #222;
        line-height: 1.25;
    }

    .p-htmlviewer h1, .p-htmlviewer h2, .p-htmlviewer h3, .p-htmlviewer h4, .p-htmlviewer h5, .p-htmlviewer h6, .p-htmlviewer p {
        padding: 1rem 0;
        line-height: 1.25rem;
    }

   .p-view-jobdetailsad {
        position: absolute;
        top: 1in;
        left: 0.5in;
        width: 7.5in;
    }
    .p-htmlviewer table td {
        padding: 0 .1rem;
        line-height: 2.5rem;
        border-bottom: 1px solid #e4e7ec;
    }

    .p-htmlviewer table th {
        padding: .1rem;
    }

    button, .p-button-dropdown *, .p-dropdown-bordered *, .p-button * {
        visibility: hidden !important;
    }
}