<div class="p-panel p-p-sm" style="background-color: rgb(186, 12, 47); overflow: hidden;">
    <div>
        <div class="p-content-wrapper"><a class="p-link p-link-def"
                href="https://unm.csod.com/ux/ats/careersite/18/home?c=unm"><img class="p-image-responsive"
                    src="https://unm.csod.com/clientimg/unm/logo/unmtransparentwhite20040_4fbf9187-585a-48ec-91fd-0f92a7a4dae1.png"></a>
        </div>
    </div>
</div>