  <div class="printable" id="job-ad">

    <h1 id="job-title">CUSTOM.POSITION.CLASS.TITLE</h1>
    <table id="job-data" class="table">
      <tbody>
        <tr id="working-title"><th>Working Title</th><td>JOB.TITLE</td></tr>
        <tr id="requistion-id"><th>Requisition ID</th><td>REQUISITION.ID</td></tr>
        <tr id="position-grade"><th>Position Grade</th><td>CUSTOM.SALARY.GRADE</td></tr>
        <tr id="pay"><th>Pay</th><td>CUSTOM.APPLICANT.SALARY.VIEW</td></tr>
        <tr id="employment-type"><th>Employment Type</th><td>Staff EMPLOYMENT.TYPE</td></tr>
        <tr id="status"><th>Status</th><td>CUSTOM.EXEMPT.NONEXEMPT</td></tr>
        <tr id="staff-type"><th>Staff Type</th><td>Regular CUSTOM.STAFF.TYPE</td></tr>
        <tr id="term-end-date"><th>Term End Date</th><td>CUSTOM.TERM.APPOINTMENT.END.DATE</td></tr>
        <tr id="department"><th>Department</th><td>OU.LOCATION</td></tr>
        <tr id="campus"><th>Campus</th><td>CUSTOM.CAMPUS</td></tr>
        <tr id="best-consideration-date"><th>Best Consideration Date</th>
            <td>CUSTOM.BEST.CONSIDERATION.DATE</td>
        </tr>
        <tr id="benefits-eligilble-indicator" class="hidden" style="display: none"><th>Benefits Eligible</th>
            <td><span id="ben-indicator" data-value="Yes.">No. </span>
            <a href="#benefits-eligible">See more below.</a></td>
        </tr>
        <tr id="erb-eligilble-indicator" class="hidden" style="display: none"><th>Retirement Eligible</th>
            <td><span id="erb-indicator" data-value="Yes.">No. </span>
            <a href="#erb-statement">See more below.</a></td>
        </tr>
        <tr id="vet-pref-indicator" class="hidden" style="display: none"><th>Veteran Preference Program</th>
            <td><span id="vet-indicator" data-value="Yes.">No. </span>
              <a href="#veteran-preference-program">See more below.</a>
            </td>
        </tr>
        <tr><th>Background Check Required</th>
          <td>CUSTOM.BACKGROUND.CHECK.REQUIRED</td>
        </tr>
      </tbody>
    </table>

    <div id="job-description">
      <div id="position-summary">
        <h2>Position Summary</h2>
        JOB.DESCRIPTION
        <p id="job-description-link">
          <a href="http://jobdescriptions.unm.edu?id=CUSTOM.POSITION.CLASS"
          target="_blank">See the Position Description for additional
           information.</a>
         </p>
      </div>
      <div id="conditions-of-employment">
        <h2>Conditions of Employment</h2>
        CUSTOM.CONDITIONS.OF.EMPLOYMENT
      </div>
      <div id="minimum-qualifications">
        <h2>Minimum Qualifications</h2>
        CUSTOM.POSITION.MINIMUM.QUALIFICATIONS.STATEMENT
      </div>
      <div id="preferred-qualifications">
        <h2>Preferred Qualifications</h2>
        JOB.MINIMUM.QUALIFICATIONS
      </div>
      <div id="additional-requirements">
        <h2>Additional Requirements</h2>
        CUSTOM.ADDITIONAL.REQUIREMENTS.FOR.THIS.POSITION
      </div>
      <div id="benefits-eligible">
        <h2>Benefits Eligible</h2>
        CUSTOM.BENEFITS.STATEMENT
      </div>
      <div id="erb-statement">
        <h2>Retirement Eligible</h2>
        CUSTOM.ERB.STATEMENT
      </div>
      <div id="veteran-preference-program">
        <p><strong>Positions posted with a Staff Type of <em>Regular</em> or
          <em>Term</em> are eligible for the Veteran Preference Program. See
          the <a href="https://hr.unm.edu/veteran-preference">Veteran
          Preference Program webpage </a>for additional details. </strong></p>
      </div>
      <div id="eoe-statement">
          <p>The University of New Mexico is committed to hiring and retaining
          a diverse workforce. We are an Equal Opportunity Employer, making
          decisions without regard to race, color, religion, sex, sexual
          orientation, gender identity, national origin, age, veteran status,
          disability, or any other protected class.</p>
      </div>
      <div id="application-instructions">
        <h2>Application Instructions</h2>
        <p id="applications-from-unmjobs-only">Only applications submitted through the official UNMJobs site will
         be accepted.  If you are viewing this job advertisement on a 3rd
         party site, <a href="https://unmjobs.unm.edu">please visit UNMJobs</a>
         to submit an application.</p>
        CUSTOM.APPLICATION.INSTRUCTIONS
      </div>
    </div>

    <div id="hej-di-email">CUSTOM.HEJ.DI.EMAIL</div>

</div>